<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>OrderCraft</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.auth.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceuilServlet</display-name>
    <servlet-name>AcceuilServlet</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.AcceuilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilServlet</servlet-name>
    <url-pattern>/AcceuilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommande</display-name>
    <servlet-name>AddCommande</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.commandeController.AddCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommande</servlet-name>
    <url-pattern>/AddCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommande</display-name>
    <servlet-name>DeleteCommande</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.commandeController.DeleteCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommande</servlet-name>
    <url-pattern>/DeleteCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCommande</display-name>
    <servlet-name>UpdateCommande</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.commandeController.UpdateCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommande</servlet-name>
    <url-pattern>/UpdateCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceuilProduct</display-name>
    <servlet-name>AcceuilProduct</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.productController.AcceuilProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilProduct</servlet-name>
    <url-pattern>/AcceuilProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.productController.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.productController.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.productController.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceuilClient</display-name>
    <servlet-name>AcceuilClient</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.clientController.AcceuilClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilClient</servlet-name>
    <url-pattern>/AcceuilClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClient</display-name>
    <servlet-name>AddClient</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.clientController.AddClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClient</servlet-name>
    <url-pattern>/AddClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClient</display-name>
    <servlet-name>DeleteClient</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.clientController.DeleteClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClient</servlet-name>
    <url-pattern>/DeleteClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClient</display-name>
    <servlet-name>UpdateClient</servlet-name>
    <servlet-class>com.orderCraft.gestionCommande.servlets.clientController.UpdateClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClient</servlet-name>
    <url-pattern>/UpdateClient</url-pattern>
  </servlet-mapping>
</web-app>